# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/**/node_modules
**/**/.pnp
**/**/.pnp.js

# testing
**/**/coverage

# production
**/**/build

# misc
# dependencies
**/**/.DS_Store
# dependencies
**/**/.env.local
# dependencies
**/**/.env.development.local
# dependencies
**/**/.env.test.local
# dependencies
**/**/.env.production.local

# dependencies
**/**/npm-debug.log*
# dependencies
**/**/yarn-debug.log*
# dependencies
**/**/yarn-error.log*
